.maps
  position: relative
  height: 100%
  width: 100vw
  overflow: hidden

.minimapWrapper
  position: absolute
  top: 10px
  left: 10px
  background-color: #c1c1c1

.lineTitle
  text-align: center
  margin-bottom: 30px

.firstZone, .secondZone
  display: flex
  flex-direction: column
  position: absolute
  top: 30px

.firstZone
  right: 10px

.secondZone
  left: 10px

.zone
  height: 30px
  margin-bottom: 10px
  border: 1px solid red
  background-color: #fff
  padding: 0 20px
  cursor: pointer
  &:hover
    background-color: #cbcbcb

.zoom
  position: absolute
  bottom: 10px
  right: 10px

.zoomIn, .zoomOut
  width: 50px
  height: 30px
  font-size: 20px

.zoomIn
  margin-right: 10px
