.zones
  height: calc(100% - 10px)
  padding-top: 10px
  overflow: auto

.zone
  display: flex
  align-items: center
  height: 50px
  margin: 0 10px 10px
  padding-left: 10px
  background-color: #e5e5e5
  &Title
    text-decoration: underline
    color: red
    cursor: pointer
    &:hover
      color: #980000

.modal
  &Title
    margin-top: 0
  &Container
    display: flex

.joystick
  &Container
    display: flex
    flex-direction: column
  &Button
    height: 30px
    border: 1px solid red
    background-color: #fff
    margin-bottom: 10px
    padding: 0 20px
    cursor: pointer
    &:hover
      background-color: #bbbbbb

.broadcast
  height: 500px
  width: 500px
  background-color: #9d9d9d
  &Container
    margin: 0 10px

.prevStateButton
  position: absolute
  margin-top: 5px
  margin-left: 5px
  z-index: 2

.actions
  &Container
    display: flex
    flex-direction: column
  &Create, &Apply, &Cancel
    height: 30px
    border: 1px solid red
    background-color: #fff
    margin-bottom: 10px
    padding: 0 20px
    cursor: pointer
    &:hover
      background-color: #bbbbbb
